<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>知识图谱问答</title>
    <!-- 引入 echarts.js -->
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <style>
        #main {
            margin-left: 500px;
            margin-top: 131px;
        }

        .row {
            margin-top: 150px;
        }

        .input-group {
            position: relative;
            display: table;
            border-collapse: separate;
            width: 730px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3" id="search-input">
                <form action="http://192.168.1.132:5000/search" method="post" onsubmit="return check()">
                    <div class="input-group">
                        <!-- <label for="question">问题</label> -->
                        <input type="text" id="inputtext" class="form-control input-lg col-xs-15" name="question"
                            placeholder="请输入要查询的问题">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-primary input-lg">Submit</button>
                        </div>
                    </div>
                    <div id="examples" style="width: 722px;">
                        <span id='example_title'>
                            <div style="display: inline-block; color: red;">热门问题:</div>
                        </span>
                        <span id='example'><a
                                href='http://localhost:5000/ownthinkQA/姚明的老婆是谁？'>姚明的老婆是谁？</a></span>
                        <span id='example'><a href='http://localhost:5000/ownthinkQA/姚明的女儿?'>姚明的女儿叫啥？</a></span>
                        <span id='example'><a
                                href='http://localhost:5000/ownthinkQA/以太坊的主币是什么？'>以太坊的主币是什么？</a></span>
                        <span id='example'><a href='http://localhost:5000/ownthinkQA/姚沁蕾的父亲是谁？'>姚沁蕾的父亲是谁？</a></span>
                        <span id='example'><a href='http://localhost:5000/ownthinkQA/叶莉的老公是谁？'>叶莉的老公是谁？</a></span>
                    </div>
                </form>
            </div>
        </div>


</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

</html>